@import "tailwindcss";
body {
    font-family:"Inter",sans-serif;
}
.bar--top {
    transition-property: bottom, margin, transform;
    transition-delay: .35s, 0s, 0s;
    bottom: calc(50% + 7.5px);
}
.bar--middle {
    transition-property: top, opacity;
    transition-duration: .35s, 0s;
    transition-delay: .455s, .455s;
    top: calc(50% - 2px);
}
.bar--bottom {
    transition-property: top, transform;
    transition-delay: 0s;
    top: calc(50% + 7.5px);
}
#checkbox:checked+.toggle .bar--top {
    margin-bottom: 13px;
    transition-delay: .105s, .455s, .455s;
    bottom: calc(50% - 15px);
    transform: rotate(45deg);
}
#checkbox:checked+.toggle .bar--middle {
    opacity: 0;
    transition-duration: .35s, 0s;
    transition-delay: 0s, .35s;
    top: calc(50% + 11px);
}
#checkbox:checked+.toggle .bar--bottom {
    transition-delay: .455s, .455s;
    top: calc(50% - 2px);
    transform: rotate(-45deg);
}
#scroll{
     animation:slideTopToBottom 0.5s ease-in;
}
  @keyframes slideTopToBottom {
      100%  {
        transform: translateY(0);
      }
      0% {
         transform: translateY(100%);
        }
        
    }